---
http_interactions:
- request:
    method: get
    uri: https://services.datafordeler.dk/CPR/CprPrivatePNR/2.0.0/rest/PrivatePersonCurrentPNR?pnr.personnummer.eq=0101851001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Switchboardperformanceinms:
      - '195.5055'
    body:
      encoding: UTF-8
      string: '{"Personer":[{"Person":{"status":"bopael_i_danmark","Navn":{"adresseringsnavn":"Hans
        Hansen","efternavn":"Hansen","fornavne":"Hans","status":"aktuel"},"Adresseoplysninger":{"CprAdresse":{"cprKommunekode":"0573","cprKommunenavn":"Varde","cprVejkode":"5731","husnummer":"012","postdistrikt":"Varde","postnummer":"6800","vejadresseringsnavn":"Boulevarden"},"status":"aktuel","virkningFra":"2005-01-01T11:12:00.000000+01:00","virkningFraUsikkerhedsmarkering":false}}}]}'
  recorded_at: Thu, 16 Jun 2022 08:20:57 GMT
recorded_with: VCR 6.0.0
